**/node_modules
**/package-lock.json
**/se-environmental-app-firebase-adminsdk-fx69d-601b8c5684.json
key
key.pub
*.log
**/Backend/server/rawdata/**.json
**/Backend/server/rawdata/**.csv
**/Backend/server/rawdata/**.pdf
**/Backend/server/rawdata/**.tmp

