**/node_modules
**/package-lock.json
**/se-environmental-app-firebase-adminsdk-fx69d-601b8c5684.json
key
key.pub
*.log
**/Backend/rawdata/EPA/*.json
**/Backend/rawdata/EPA/*.csv
**/Backend/rawdata/EPA/*.pdf
**/Backend/rawdata/EPA/*.tmp
**/Backend/rawdata/FDA/*.json
**/Backend/rawdata/FDA/*.csv
**/Backend/rawdata/FDA/*.pdf
**/Backend/rawdata/FDA/*.tmp

