<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.acme.snapgreen">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:background="@color/light_green"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="barcode"/>

        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.CreateUserActivity"
            android:label="Create a New User">
        </activity>
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:label="@string/app_name">
        </activity>
        <activity

            android:name=".ui.dashboard.UsageInputActivity"
            android:label="Usage Inputs">
         </activity>

        <activity

            android:name=".ui.dashboard.ShoppingListActivity"
            android:label="Your Shopping List">
        </activity>

        <activity

            android:name=".ui.dashboard.InviteActivity"
            android:label="Invite Some Friends!">
        </activity>

        <activity

            android:name=".ui.dashboard.SettingsActivity"
            android:label="Adjust Your Settings">
        </activity>
        <activity
            android:name=".ui.scanner.PreviewActivity"
            android:label="Scanner">
        </activity>
        <activity
            android:name=".ui.dashboard.StatsActivity"
            android:label="Stats">
        </activity>
        <activity
            android:name=".ui.dashboard.SupportActivity"
            android:label="Support">
        </activity>
        <activity
            android:name=".ui.dashboard.ProfileActivity"
            android:label="Profile">
        </activity>
        <activity
            android:name=".ui.scanner.ScanResultActivity"
            android:launchMode="singleInstance">
    </activity>


</application>

</manifest>